<!DOCTYPE html>
<html>
<head>
    <title>Candlestick Chart</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="chart-container"></div>

   <script>
        // JavaScript code to render the chart using Plotly.js
        document.addEventListener('DOMContentLoaded', function() {
            var data = JSON.parse('{{ data|safe }}');
            
            var dates = [];
            var open = [];
            var high = [];
            var low = [];
            var close = [];
            
            // Iterate over the data and extract the necessary values
            for (var i = 0; i < data.length; i++) {
                dates.push(data[i].timestamp);
                open.push(data[i].open);
                high.push(data[i].high);
                low.push(data[i].low);
                close.push(data[i].close);
            }
            
            // Create the candlestick chart trace
            var trace = {
                x: dates,
                close: close,
                decreasing: {line: {color: '#FF0000'}},
                high: high,
                increasing: {line: {color: '#00FF00'}},
                line: {color: 'rgba(31,119,180,1)'},
                low: low,
                open: open,
                type: 'candlestick',
                xaxis: 'x',
                yaxis: 'y'
            };
            
            // Define the layout
            var layout = {
                title: 'Currency Performance',
                xaxis: {
                    rangeslider: {
                        visible: false
                    }
                },
                yaxis: {
                    title: 'Price'
                }
            };
            
            // Create the chart
            var data = [trace];
            Plotly.newPlot('chart-container', data, layout);
        });
    </script>    

</body>
</html>
